/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  min-inline-size: 375px;
  max-inline-size: 375px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-inline-start: auto;
  margin-inline-end: auto;
  block-size: 100vh; 
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 0 10px;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  min-inline-size: 375px;
}

.decorated-zone::before {
  content: '';
  display: block;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  top: 10px;
  left: 339px;
}

.decorated-zone::after {
  content: '';
  display: block;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  bottom: 10px;
  left: 10px;
}

/*.decorative-element {
  max-block-size: 25px;
  margin-bottom: 20px;
}*/

.decorative-element {
  position: absolute;
}

.decorative-element::before {
  content: 'rec';
  position: absolute;
  font-family: var(--main-text);
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
  text-transform: uppercase;
  top: 10px;
  left: 304px;

}

.decorative-element::after {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  top: 18px;
  left: 347px;

}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-block-start: 7px;
}

.header__theme-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 11.5px;
 
}

.header__theme-menu-button {
  background-color: transparent;
  font-family: var(--main-text);
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  padding: 1.5px 13px 3px;
  color: var(--accent-color);
  border: 1px solid transparent;
  cursor: pointer;
  /*outline: 1px solid var(--accent-color);*/
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: solid;
  outline: none;
}

.header__theme-menu-button_type_auto {
  color: var(--accent-color);
}

.header__theme-menu-button_type_auto:focus-visible {
  border-bottom: solid;
  outline: none;
}

.header__theme-menu-button_type_dark {
  outline: 1px solid var(--accent-color); 
}

.header__theme-menu-button_type_dark:focus-visible {
  outline: none;
  border-bottom: solid;
}

.header__theme-menu-button_type_light {
  color: var(--text-color);
  outline: 1px solid var(--text-color);
}
/*.header__accent-button {
  outline: 1px solid var(--accent-color); 
}

.header__accent-button:focus {
  outline: none;
}*/

/*.header__theme-menu-button_type_light {
  outline: 1px sollid  ;
}*/


.header-title {
  font-family: var(--main-text);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  /*margin: 65px 0 55px;*/
  margin: 0;
}

.title-decor {
  font-family: var(--main-text);
  font-size: 18px;
  font-weight: bold;
  color: var(--subtitle-color);
  background-color: var(--accent-color);
}

.header-text {
  align-self: center;
  margin-block-end: 12px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  /*margin-block-start: 40px;*/
}

.section_title {
  color: var(--section-title-color);
  font-family: var(--main-text);
  font-size: 18px;
  font-weight: bold;
  line-height: 23.4px;
  padding: 40px 10px 0;
  /*margin: 0 10px 20px;*/
}

.section_margin {
  padding: 0 10px;
}

.article-title {
  margin: 20px 10px 10px;
}

.article-margin {
  margin: 17px 10px 10px;
}

.link {
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.link:focus {
  outline: 1px solid var(--text-color);
  text-decoration: none;
}

.section-text {
  font-family: var(--main-text);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  max-inline-size: 351px;
  margin-block-start: 10px;
  margin-inline-start: 10px;
  /*margin-inline-start: 10px;
  margin-inline-end: 13.97px;
  margin-block-start: 10px;*/
}

.section_block .section-text:first-of-type {
  margin-block-end: 20px;
}

.section_block .section-text:last-child {
  margin-block-end: 0;
}

/*.section__content:not(:last-child) {
  margin-block-end: 20px;
}*/

/*.main__section {
  display: grid;
  gap: 20px;
}*/


.zero-margin {
  margin-block-end: 0;
}

.subtitle {
  background-color: var(--accent-color);
  margin: 20px 10px 0;
  font-weight: normal;
}

.image-title {
  margin: 0 10px;
}

.img-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 10px 10px 40px;
}


.image {
  object-fit: contain;
  inline-size: 355px;
}

.footer {
  display: grid;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
}

.footer-title {
  font-family: var(--main-text);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 2px 2px var(--accent-color);
  text-align: center;
}

@media (width >= 768px) {

  .page {
    min-inline-size: 768px;
    max-inline-size: 768px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    block-size: 100vh; 
  }

  .header {
    display: grid;
    padding-inline-start: 0;
    padding-inline-end: 20px;
  }

  .header-title {
    justify-self: start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    top: 20px;
    left: 723px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .decorative-element::before {
    top: 20px;
    left: 687px;
  }

  .decorative-element::after {
    top: 28px;
    left: 730px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
    margin-block-start: 15px;
  }
 
  .header-text {
    justify-self: end;
    max-inline-size: 364px;
    margin-block-end: 22px;
  }

  .main-content {
    margin-block-start: 60px;
    gap: 80px;
    margin-block-end: 60px;
  }  
  .hard-to-concentrate {
    display: grid;
    grid-template-columns: 236px 1fr;
  }
  .section_block {
    margin: 0 20px;
    margin-inline-end: 10px;
  }

  .hard-to-concentrate .article-title {
    margin-inline-end: 0;
    margin-block-start: 0;
  }

  .low-concentration .article-title:first-child {
    margin-inline-end: 10px;
  }

  .low-concentration .section-text {
    margin-inline-end: 10px;
    max-inline-size: 727px;
  }

  .section_title {
    align-self: start;
    margin-block-start: 0;
    max-inline-size: 236px;
    padding-block-start: 0;
  }

  .section-text {
    max-inline-size: 472px;
    margin-inline-end: 0;
  }
  .main__section {
    padding-inline: 10px;
  }

  .low-concentration {
    display: grid;
    grid-template-columns: 1fr;
  }

  .gold-fish {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    padding-inline-start: 20px;
  }

  .gold-fish .section_title {
    margin: 0;
    padding: 0;
  }

  .gold-fish__content .article-title {
    margin: 0 10px 0 0;
  }

  .gold-fish__content {
    
  }

  .gold-fish .subtitle {
    margin: 18px 10px 0 0;
  }

  .gold-fish .section-text {
    margin-inline-start: 0;
  }

  .gold-fish .subtitle__margin {
    margin-block-start: 22px;
  }

  .img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-block-start: 10px;
    margin-block-end: 0;
    
  }

  .image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .image:nth-child(1) {
    grid-column: span 2;
  }

  .image:nth-child(2) {
    grid-row: span 2;
  }

  .image:nth-child(3) {
    grid-row: span 2;
  }

  .image:nth-child(5) {
    grid-column: span 2;
  }

}

@media (width >= 1024px) {
  .page {
    min-inline-size: 1024px;
    max-inline-size: 1024px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    block-size: 100vh; 
  }
  .header {
    block-size: 100vh;
    min-block-size: 768px;
    grid-template-columns: 1fr;
  }
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    grid-row-start: 1;
    margin: 20px 0 0 5px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    padding-inline-start: 15px;
  }
  .decorated-zone::before {
    top: 20px;
    left: 979px;
  }
  .decorated-zone::after {
    /*top: calc(100% - 50px);*/
    /*top: 723px;*/
    bottom: 20px;
    left: 20px;
  }
  .decorative-element::before {
    top: 20px;
    left: 943px;
  }
  .decorative-element::after {
    top: 28px;
    left: 986px;
  }
  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header-text {
    min-inline-size: 491px;
    margin-block-start: 0;
  }
  .main-content {
    margin-block-start: 60px;
    margin-block-end: 60px;
  }
  .hard-to-concentrate {
    grid-template-columns: 315px 1fr;
    gap: 20px;
  }
  .section_title {
    min-inline-size: 315px;
    padding-inline-start: 0;
  }
  .section_block {
    margin: 0;
    margin-inline-end: 10px;
  }
  .section-text {
    max-inline-size: 649px;
  }
  .low-concentration {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 47px 1fr;
    /*gap: 20px;*/
    justify-items: center;
  }
  .low-concentration .article-title:first-child {
    margin-inline: 0;
  }
  .section_title-element {
    grid-row-start: 1;
  }
  .section__content {
    grid-row-start: 2;
  }
  
  .section__content .section-text {
    margin-inline: 0;
    padding: 0;
    max-inline-size: 315px;
  }
  .gold-fish {
    grid-template-columns: 315px 1fr;
    gap: 20px;
  }

  .footer-title {
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }

}
